<div class="container">
  <div class="mt-5 center">
    <div style="display: inline-block"
         class="center-align tooltipped"
         data-position="bottom"
         data-tooltip="<%= t('processors.start_date', datetime: @redis.get('parsing:run:datetime')) %>">
      <%= link_to admin_processors_path,
                  class: "waves-effect btn-large teal lighten-1 #{'disabled' if @redis.get('parsing:run').present?}",
                  method: :post do %>
                    Run
                    <i class="material-icons right">play_arrow</i>
                  <% end %>
    </div>

    <div style="display: inline-block"
         class="center-align tooltipped"
         data-position="bottom"
         data-tooltip="<%= t('processors.stop_date', datetime: @redis.get('parsing:stop:datetime')) %>">
      <%= link_to admin_processors_path,
                  class: "waves-effect btn-large red lighten-1 #{'disabled' if @redis.get('parsing:run').blank?}",
                  method: :delete do %>
                    Stop
                    <i class="material-icons right">stop</i>
                  <% end %>
    </div>
  </div>
  <div class="mt-5">
    <% if @redis.get('parsing:run').present? %>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    <% end %>
  </div>
</div>
