<div class="container">
  <%= link_to admin_processors_path,
              class: 'waves-effect waves-light btn-large teal lighten-1',
              method: :post do %>
    <span>RUN</span>
  <% end %>
</div>
