.container
  .mt-5.center
    h2
      = t('session.forgot')
    .flex-center
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render 'devise/shared/error_messages', resource: resource
        .input-field
          i.material-icons.prefix email
          = f.label :email, for: 'admin_email'
          = f.email_field :email
        .actions
          = f.button t('session.sendreset'), type: 'submit', class: 'btn waves-effect'
  = render 'devise/shared/links'
