@import 'materialize-css/dist/css/materialize';
@import './fonts';

h1, h2, h3, h4, h5, h6 {
  color: #004d40;
}

.mt-5 {
  margin-top: 50px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-1 {
  margin-top: 10px;
}

.wd-5 {
  width: 50%;
}

.fixed-container {
  position: fixed;
  padding: 3em;
  left: 15%;
  transform: translateX(-58%);
  width: 25%;
}

.links-sessions {
  margin: 0 20px;
  color: #4db6ac;
}

.links-sessions:hover {
  color: #004d40;
}

.flex-center {
  display: flex;
  justify-content: center;
}

label.error {
  color: red;
}

label.error.active {
  color: #9e9e9e;
}
